<!DOCTYPE html>
<html>
    <head>
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>NEWS AROUND THE GLOBE</h1>
            </div>
            <div class='row'>
                <div class="col-md-6">
                    <p><a href="{{url_for('Bbc')}}">BBC NEWS</a></p>
                </div>
                <div class="col-md-6">
                    <p><a href="{{url_for('Fox')}}">FOX NEWS</a></p>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-6">
                    <p><a href="{{url_for('Bbc')}}">ANSA NEWS</a></p>
                </div>
                <div class="col-md-6">
                    <p><a href="{{url_for('Fox')}}">CNN NEWS</a></p>
                </div>
            </div>
        </div>
    </body>
</html>