<!DOCTYPE html>
<html>
    <head>
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>NEWS AROUND THE GLOBE</h1>
            </div>
            <div class="row">
                {% for des, new, i in context %}
                    <img src="{{ i }}" alt"{{title}}">
                    <p>Details: {{ des }}</p>
                    <h3>News: {{ new }}</h3>
                {% endfor %}
            </div>
        </div>
    </body>
</html>